body { font-family: 'Public Sans', sans-serif; }
        .material-symbols-outlined { font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24; }
        .active-sidebar-item { background-color: rgba(236, 91, 19, 0.1); border-left: 4px solid #ec5b13; }
